{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "typescript"
    },
    "baseUrl": "./src",
    "paths": {
      "@/*": ["*"]
    }
  },
  "module": {
    "type": "es6"
  },
  "sourceMaps": true
}